Задание 5**

Создайте новый столбец в датафрейме authors_price под названием cover, в нем будут располагаться данные о том, какая обложка у данной книги - твердая или мягкая. В этот столбец поместите данные из следующего списка:
['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].
Просмотрите документацию по функции pd.pivot_table с помощью вопросительного знака.Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке. Используйте для этого функцию pd.pivot_table. При этом столбцы должны называться "твердая" и "мягкая", а индексами должны быть фамилии авторов. Пропущенные значения стоимостей заполните нулями, при необходимости загрузите библиотеку Numpy.
Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl". Затем загрузите из этого файла датафрейм и назовите его book_info2. Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.

In [1]:
import numpy as np
import pandas as pd

In [2]:
authors = pd.DataFrame({'author_id':[1, 2, 3],
                        'author_name':['Тургенев', 
                                       'Чехов', 
                                       'Островский']},
                        columns=['author_id', 'author_name'])
authors.set_index('author_id', inplace=True)
authors

          author_name
author_id
1            Тургенев
2               Чехов
3          Островский

In [3]:
books = pd.DataFrame({'author_id':[1, 1, 1, 2, 2, 3, 3],
                     'book_title':['Отцы и дети', 
                                   'Рудин', 
                                   'Дворянское гнездо', 
                                   'Толстый и тонкий', 
                                   'Дама с собачкой', 
                                   'Гроза', 
                                   'Таланты и поклонники'],
                     'price':[450, 300, 350, 500, 450, 370, 290]},
                     columns=['author_id', 'book_title', 'price'])
books.set_index('author_id', inplace=True)
books

                     book_title  price
author_id
1                   Отцы и дети    450
1                         Рудин    300
1             Дворянское гнездо    350
2              Толстый и тонкий    500
2               Дама с собачкой    450
3                         Гроза    370
3          Таланты и поклонники    290

In [4]:
authors_price = pd.merge(authors, books, on = 'author_id', how='outer')
authors_price['cover'] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
authors_price

          author_name            book_title  price    cover
author_id
1            Тургенев           Отцы и дети    450  твердая
1            Тургенев                 Рудин    300   мягкая
1            Тургенев     Дворянское гнездо    350   мягкая
2               Чехов      Толстый и тонкий    500  твердая
2               Чехов       Дама с собачкой    450  твердая
3          Островский                 Гроза    370   мягкая
3          Островский  Таланты и поклонники    290   мягкая

In [5]:
?pd.pivot_table

In [6]:
book_info = pd.pivot_table(authors_price, values='price', index=['author_name', 'cover'], columns='cover', aggfunc=np.sum)
book_info

cover                мягкая  твердая
author_name cover
Островский  мягкая    660.0      NaN
Тургенев    мягкая    650.0      NaN
            твердая     NaN    450.0
Чехов       твердая     NaN    950.0

In [7]:
book_info['мягкая'].fillna(0, inplace=True)
book_info['твердая'].fillna(0, inplace=True) 
book_info

cover                мягкая  твердая
author_name cover
Островский  мягкая    660.0      0.0
Тургенев    мягкая    650.0      0.0
            твердая     0.0    450.0
Чехов       твердая     0.0    950.0

In [8]:
book_info.to_pickle('book_info.pkl')

In [9]:
book_info_2 = pd.read_pickle('book_info.pkl')

In [10]:
book_info == book_info_2

cover                мягкая  твердая
author_name cover
Островский  мягкая     True     True
Тургенев    мягкая     True     True
            твердая    True     True
Чехов       твердая    True     True