Задание 3

Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

In [1]:
import numpy as np
import pandas as pd

In [2]:
authors = pd.DataFrame({'author_id':[1, 2, 3],
                        'author_name':['Тургенев', 
                                       'Чехов', 
                                       'Островский']},
                        columns=['author_id', 'author_name'])
authors.set_index('author_id', inplace=True)
authors

          author_name
author_id
1            Тургенев
2               Чехов
3          Островский

In [3]:
books = pd.DataFrame({'author_id':[1, 1, 1, 2, 2, 3, 3],
                     'book_title':['Отцы и дети', 
                                   'Рудин', 
                                   'Дворянское гнездо', 
                                   'Толстый и тонкий', 
                                   'Дама с собачкой', 
                                   'Гроза', 
                                   'Таланты и поклонники'],
                     'price':[450, 300, 350, 500, 450, 370, 290]},
                     columns=['author_id', 'book_title', 'price'])
books.set_index('author_id', inplace=True)
books

                     book_title  price
author_id
1                   Отцы и дети    450
1                         Рудин    300
1             Дворянское гнездо    350
2              Толстый и тонкий    500
2               Дама с собачкой    450
3                         Гроза    370
3          Таланты и поклонники    290

In [4]:
authors_price = pd.merge(authors, books, on = 'author_id', how='outer')
authors_price

          author_name            book_title  price
author_id
1            Тургенев           Отцы и дети    450
1            Тургенев                 Рудин    300
1            Тургенев     Дворянское гнездо    350
2               Чехов      Толстый и тонкий    500
2               Чехов       Дама с собачкой    450
3          Островский                 Гроза    370
3          Островский  Таланты и поклонники    290

In [5]:
top5 = pd.DataFrame((authors_price.sort_values(by='price')).tail(5))
top5

          author_name         book_title  price
author_id
1            Тургенев  Дворянское гнездо    350
3          Островский              Гроза    370
1            Тургенев        Отцы и дети    450
2               Чехов    Дама с собачкой    450
2               Чехов   Толстый и тонкий    500